# This is an example environment file.
# Copy this file to .env.development/.env.production and update the values as needed.

# MongoDB connection URI
MONGODB_URI=""

# MongoDB database name
MONGODB_DB_NAME=""
